@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewComponentLesson.Pages.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="m-5 text-danger">Special Info @Model.Message</h1>




<table class="table">
    <thead>
        <tr>
            <th class="col">Id</th>
            <th class="col">Name</th>
            <th class="col">Price</th>
            <th class="col">Edit</th>
            <th class="col">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model?.Products)
        {
            <tr>
                <th class="col">@item.Id</th>
                <th class="col">@item.Name</th>
                <th class="col">@item.Price</th>
                <th class="col">
                    <form method="post" asp-page-handler="Update">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Edit</button>
                    </form>
                </th>

                <th class="col">
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </th>

            </tr>
        }
    </tbody>

    <form class="col-5 gap-3" method="post" asp-page-handler="" asp-route-id="Product.Id">
        <input type="hidden" name="name" value="" asp-for="Product.Id" />
        <div class="wb-3 gap-3">
            <label class="from-label">Product.Name</label>
            <input type="text" class="form-control" asp-for="Product.Name" />
        </div>
        <div class="wb-3 gap-3 my-3">
            <label class="from-label">Product.Price</label>
            <input asp-for="Product.Price" type="number" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</table>